.singin {
    position: fixed;
    z-index: 110;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
    min-width: 320px;
    padding: 25px 15px;
    background-color: $white;

    @include respond-up(md) {
        top: 16%;
        right: 5%;
        transform: none;
        left: auto;
    }

    @include respond-up(lg) {
        right: 10vw;
    }

    &.is-active {
        display: block;
    }

    h3 {
        margin-top: 0;
        margin-bottom: 20px;
        color: $cyan;

        span {
            font-weight: 900;
        }
    }

    &__close {
        position: absolute;
        top: 15px;
        right: 15px;
        cursor: pointer;
        color: $red;
    }

    &__utilities {
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-between;
        justify-content: space-between;
        margin-top: 20px;
        padding-top: 20px;
        border-top: 1px solid lighten($color-secondary-lighter, 4%);

        a {
            transition: color 0.3s linear;
            color: $color-primary;

            &:focus,
            &:hover {
                text-decoration: none;
                color: $red;
            }
        }
    }
}
