$roboto: 'Roboto', sans-serif;
$roboto-condensed: 'Roboto Condensed', sans-serif;
$icon: 'Custom Icons';

$white: #ffffff;
$red: #ff464b;
$red-dark: #b63032;
$blue: #063661;
$cyan: #39c8d9;
$green: #92b14e;
$color-base: #313131;
$color-primary: #6b7081;
$color-primary-lighter: #85909e;
$color-primary-light: #cfd4da;
$color-secondary: #b3bec7;
$color-secondary-lighter: #e7eaef;
$color-secondary-light: #f2f3f8;
