<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Imperial</title>
    <!-- CSS -->
    <link rel="stylesheet" href="../assets/css/app.css">
</head>

<body>
    <header class="header">
        <div class="header__links header__wrapper header__wrapper--to-end">
            <a href="#" class="header__link">CEM</a>
            <a href="#" class="header__link">Ecosistema</a>
            <a href="#" class="header__link">Redimensionado</a>
        </div>
        <nav class="header__main">
            <div class="header__wrapper">
                <a href="/" class="header__logo">
                    <img src="../assets/img/logos/logo-imperial.svg" alt="IMPERIAL">
                </a>
                <div class="header__menu">
                    <div class="header__menu-button">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span>Todos los productos</span>
                    <div class="header__menu-list">
                        <ul class="main-menu">
                            <li class="main-menu__title">Todos los productos <span class="main-menu__close"><span class="glyphicon glyphicon-remove"></span></span></li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-wood.png" alt=""></span>
                                Maderas y mueblería
                                <div class="main-menu__submenu">
                                    <h4>Maderas y mueblería</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Laminados alta presión</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Diseño unicolor</a></li>
                                                <li><a href="#">Diseño madera</a></li>
                                                <li><a href="#">Diseño granito y mármol</a></li>
                                                <li><a href="#">Diseño metálico y perlescente</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                        <div class="main-menu__subitem">
                                            <h5>Tableros mueblería</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Melamina innovación</a></li>
                                                <li><a href="#">Melamina diseño</a></li>
                                                <li><a href="#">Melamina madera</a></li>
                                                <li><a href="#">Melamina blanco / color</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                        <div class="main-menu__subitem">
                                            <h5>Soluciones de borde</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Tapacanto blanco</a></li>
                                                <li><a href="#">Tapacanto madera</a></li>
                                                <li><a href="#">Tapacanto color</a></li>
                                                <li><a href="#">Chapacantos</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                        <div class="main-menu__subitem">
                                            <h5>Herrajería quincallería muebles</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Bisagras muebles</a></li>
                                                <li><a href="#">Bisagras soluciones especiales</a></li>
                                                <li><a href="#">Tiradores metálicos</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                        <div class="main-menu__subitem">
                                            <h5>Laminados alta presión</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Diseño unicolor</a></li>
                                                <li><a href="#">Diseño madera</a></li>
                                                <li><a href="#">Diseño granito y mármol</a></li>
                                                <li><a href="#">Diseño metálico y perlescente</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                        <div class="main-menu__subitem">
                                            <h5>Laminados alta presión</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Diseño unicolor</a></li>
                                                <li><a href="#">Diseño madera</a></li>
                                                <li><a href="#">Diseño granito y mármol</a></li>
                                                <li><a href="#">Diseño metálico y perlescente</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-floor.png" alt=""></span>
                                Pisos
                                <div class="main-menu__submenu">
                                    <h4>Pisos</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Porcelanatos</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Porcelanatos brillantes</a></li>
                                                <li><a href="#">Porcelanatos mate</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-tools.png" alt=""></span>
                                Herramientas y maquinarias
                                <div class="main-menu__submenu">
                                    <h4>Herramientas y maquinarias</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Herramientas eléctricas alámbricas</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Cepillos eléctricos</a></li>
                                                <li><a href="#">Fresadoras</a></li>
                                                <li><a href="#">Lijadoras</a></li>
                                                <li><a href="#">Sierras caladoras</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-construction.png" alt=""></span>
                                Construcción
                                <div class="main-menu__submenu">
                                    <h4>Construcción</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Fierro</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Fierros en barras</a></li>
                                                <li><a href="#">Perfiles de fierro</a></li>
                                                <li><a href="#">Perfiles galvanizados</a></li>
                                                <li><a href="#">Armaduras de hormigón</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-paints.png" alt=""></span>
                                Pinturas y accesorios
                                <div class="main-menu__submenu">
                                    <h4>Pinturas y accesorios</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Herramientas y complementos para pintar</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Brochas</a></li>
                                                <li><a href="#">Rodillos</a></li>
                                                <li><a href="#">Cintas de enmascarar</a></li>
                                                <li><a href="#">Pistolas para pintar</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-ironmongery.png" alt=""></span>
                                Ferretería
                                <div class="main-menu__submenu">
                                    <h4>Ferretería</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Seguridad industrial</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Botas y zapatos de seguridad</a></li>
                                                <li><a href="#">Ropa de trabajo</a></li>
                                                <li><a href="#">Protección de manos</a></li>
                                                <li><a href="#">Protección ojos</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-bathroom.png" alt=""></span>
                                Baños
                                <div class="main-menu__submenu">
                                    <h4>Baños</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Tinas</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Tinas</a></li>
                                                <li><a href="#">Receptáculos</a></li>
                                                <li><a href="#">Accesorios de ducha</a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-terminations.png" alt=""></span>
                                Terminaciones obra gruesa
                                <div class="main-menu__submenu">
                                    <h4>Terminaciones obra gruesa</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Puertas</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Puerta de acceso hojas</a></li>
                                                <li><a href="#">Puertas de interior hojas</a></li>
                                                <li><a href="#">Puertas vidriadas hojas</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-kitchen.png" alt=""></span>
                                Cocina
                                <div class="main-menu__submenu">
                                    <h4>Cocina</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Grifería cocina</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Monomandos de lavaplatos</a></li>
                                                <li><a href="#">Combinaciones de lavaplatos</a></li>
                                                <li><a href="#">Monoblock de lavaplatos</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-electricity.png" alt=""></span>
                                Electricidad
                                <div class="main-menu__submenu">
                                    <h4>Electricidad</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Reguladores y convertidores / transformadores</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Timers</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-plumbing.png" alt=""></span>
                                Plomería y gasfitería
                                <div class="main-menu__submenu">
                                    <h4>Plomería y gasfitería</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Llaves y válvulas</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Llaves</a></li>
                                                <li><a href="#">Válvulas</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="main-menu__item">
                                <span class="main-menu__item-icon"><img src="../assets/img/iconos/icon_menu-discounts.png" alt=""></span>
                                Descuentos por volúmen
                                <div class="main-menu__submenu">
                                    <h4>Descuentos por volúmen</h4>
                                    <div class="main-menu__wrapper">
                                        <div class="main-menu__subitem">
                                            <h5>Electricidad</h5>
                                            <ul class="main-menu__subitem-list">
                                                <li><a href="#">Canalización</a></li>
                                                <li><a href="#">Conductores y cables</a></li>
                                                <li><a href="#">Alargadores</a></li>
                                                <li><a href="#">Iluminación</a></li>
                                            </ul>
                                            <a href="#" class="btn btn--square btn--red">más</a>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="¿Qué estás buscando?">
                    <span class="input-group-btn">
                        <button class="input-group-within" type="button">
                            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                        </button>
                    </span>
                </div>
                <div class="header__store">
                    <div class="header__store-location">
                        <i class="fit-icon-location"></i>
                    </div>
                    <div class="header__store-select">
                        <h4><span>Tienda:</span>Vespucio</h4>
                        <button type="button" name="changeStore" class="header__store-button">Cambiar tienda</button>
                    </div>
                </div>
                <div class="header__singin">
                    <i class="fit-icon-user"></i>
                    <span class="header__singin-button">Iniciar sesión</span>
                </div>
                <a href="#" class="header__cart">
                    <i class="fit-icon-basket"></i>
                    <span>0</span>
                </a>
            </div>
        </nav>
        <div class="header__links header__wrapper">
            <a href="#" class="header__link">Tiendas <span class="header__link-icon"><img src="../assets/img/iconos/icon_menu-store.png" alt=""></span></a>
            <a href="#" class="header__link">Proyecto e Ideas <span class="header__link-icon"><img src="../assets/img/iconos/icon_menu-projects.png" alt=""></span></a>
            <a href="#" class="header__link">Servicios <span class="header__link-icon"><img src="../assets/img/iconos/icon_menu-services.png" alt=""></span></a>
            <a href="#" class="header__link">Financiamiento <span class="header__link-icon"><img src="../assets/img/iconos/icon_menu-financing.png" alt=""></span></a>
            <a href="#" class="header__link">Seguimiento a pedido <span class="header__link-icon"><img src="../assets/img/iconos/icon_menu-tracing.png" alt=""></span></a>
        </div>
        <!-- Menu Mobile -->
        <div class="mobile-menu">
            <div class="mobile-menu__close">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="¿Qué estás buscando?">
                <span class="input-group-btn">
                    <button class="input-group-within" type="button">
                        <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
            <ul class="mobile-menu__list">
                <li class="mobile-menu__item mobile-menu__item--location">
                    <div class="header__store">
                        <div class="header__store-location">
                            <i class="fit-icon-location"></i>
                        </div>
                        <div class="header__store-select">
                            <h4><span>Tienda:</span>Vespucio</h4>
                            <small>Cambiar tienda</small>
                        </div>
                    </div>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link mobile-menu__sesion">
                        <span class="mobile-menu__item-icon"><i class="fit-icon-user"></i></span>
                        Iniciar sesión
                    </a>
                </li>
                <!-- Menu Mobile -->
                <li class="mobile-menu__item mobile-menu__expand">
                    <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                        <span class="mobile-menu__item-icon"><img src="../assets/img/iconos/icon_menu-categories.png" alt=""></span>
                        Categorías
                    </a>
                    <ul class="mobile-menu__expand-content mobile-menu__expand-content--categories">
                        <a href="#" class="mobile-menu__expand-back">Categorías</a>
                        <li class="mobile-menu__item mobile-menu__expand">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-wood.png" alt="">
                                </span>
                                Maderas y mueblería
                            </a>
                            <ul class="mobile-menu__expand-content">
                                <a href="#" class="mobile-menu__expand-back">Maderas y mueblería</a>
                                <li class="mobile-menu__item">
                                    <h5>Laminados alta presión</h5>
                                    <ul class="mobile-menu__item-inner-list">
                                        <li><a href="#">Diseño unicolor</a></li>
                                        <li><a href="#">Diseño madera</a></li>
                                        <li><a href="#">Diseño granito y mármol</a></li>
                                        <li><a href="#">Diseño metálico y perlescente</a></li>
                                    </ul>
                                </li>
                                <li class="mobile-menu__item">
                                    <h5>Tableros mueblería</h5>
                                    <ul class="mobile-menu__item-inner-list">
                                        <li><a href="#">Melamina innovación</a></li>
                                        <li><a href="#">Melamina diseño</a></li>
                                        <li><a href="#">Melamina madera</a></li>
                                        <li><a href="#">Melamina blanco / color</a></li>
                                    </ul>
                                </li>
                                <li class="mobile-menu__item">
                                    <h5>Soluciones de borde</h5>
                                    <ul class="mobile-menu__item-inner-list">
                                        <li><a href="#">Tapacanto blanco</a></li>
                                        <li><a href="#">Tapacanto madera</a></li>
                                        <li><a href="#">Tapacanto color</a></li>
                                        <li><a href="#">Chapacantos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-floor.png" alt="">
                                </span>
                                Pisos
                            </a>
                            <ul class="mobile-menu__expand-content">
                                <a href="#" class="mobile-menu__expand-back">Pisos</a>
                                <li class="mobile-menu__item">
                                    <h5>Porcelanatos</h5>
                                    <ul class="mobile-menu__item-inner-list">
                                        <li><a href="#">Porcelanatos brillantes</a></li>
                                        <li><a href="#">Porcelanatos mate</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-tools.png" alt="">
                                </span>
                                Herramientas y maquinarias
                            </a>
                            <ul class="mobile-menu__expand-content">
                                <a href="#" class="mobile-menu__expand-back">Herramientas y maquinarias</a>
                                <li class="mobile-menu__item">
                                    <h5>Herramientas eléctricas alámbricas</h5>
                                    <ul class="mobile-menu__item-inner-list">
                                        <li><a href="#">Cepillos eléctricos</a></li>
                                        <li><a href="#">Fresadoras</a></li>
                                        <li><a href="#">Lijadoras</a></li>
                                        <li><a href="#">Sierras caladoras</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-construction.png" alt="">
                                </span>
                                Construcción
                            </a>
                            <ul class="mobile-menu__expand-content">
                                <a href="#" class="mobile-menu__expand-back">Construcción</a>
                                <li class="mobile-menu__item">
                                    <h5>Fierro</h5>
                                    <ul class="mobile-menu__item-inner-list">
                                        <li><a href="#">Fierros en barras</a></li>
                                        <li><a href="#">Perfiles de fierro</a></li>
                                        <li><a href="#">Perfiles galvanizados</a></li>
                                        <li><a href="#">Armaduras de hormigón</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-paints.png" alt="">
                                </span>
                                Pinturas y accesorios
                            </a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-ironmongery.png" alt="">
                                </span>
                                Ferretería
                            </a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-bathroom.png" alt="">
                                </span>
                                Baños
                            </a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-terminations.png" alt="">
                                </span>
                                Terminaciones obra gruesa
                            </a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-kitchen.png" alt="">
                                </span>
                                Cocina
                            </a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-electricity.png" alt="">
                                </span>
                                Electricidad
                            </a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-plumbing.png" alt="">
                                </span>
                                Plomería y gasfitería
                            </a>
                        </li>
                        <li class="mobile-menu__item">
                            <a href="#" class="mobile-menu__item-link mobile-menu__expand-link">
                                <span class="main-menu__item-icon">
                                    <img src="../assets/img/iconos/icon_menu-discounts.png" alt="">
                                </span>
                                Descuentos por volúmen
                            </a>
                        </li>
                    </ul>
                </li>
                <!-- End Menu Mobile -->
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link">
                        <span class="mobile-menu__item-icon"><img src="../assets/img/iconos/icon_menu-store.png" alt=""></span>
                        Tiendas
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link">
                        <span class="mobile-menu__item-icon"><img src="../assets/img/iconos/icon_menu-projects.png" alt=""></span>
                        Proyectos e ideas
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link">
                        <span class="mobile-menu__item-icon"><img src="../assets/img/iconos/icon_menu-services.png" alt=""></span>
                        Servicios
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link">
                        <span class="mobile-menu__item-icon"><img src="../assets/img/iconos/icon_menu-financing.png" alt=""></span>
                        Financiamiento
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link">
                        <span class="mobile-menu__item-icon"><img src="../assets/img/iconos/icon_menu-tracing.png" alt=""></span>
                        Seguimiento a Pedido
                    </a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link mobile-menu__item-link--empty">CEM</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link mobile-menu__item-link--empty">Ecosistema</a>
                </li>
                <li class="mobile-menu__item">
                    <a href="#" class="mobile-menu__item-link mobile-menu__item-link--empty">Redimensionado</a>
                </li>
            </ul>
        </div>
        <!-- Singin -->
        <div class="singin">
            <div class="singin__close">
                <span class="glyphicon glyphicon-remove"></span>
            </div>
            <h3>Inicia <span>sesión</span></h3>
            <form action="">
                <div class="form-group">
                    <label for="correo">Dirección de correo electrónico</label>
                    <input type="email" class="form-control" id="correo" placeholder="Dirección de correo electrónico">
                </div>
                <div class="form-group">
                    <label for="constraseña">Contraseña</label>
                    <input type="password" class="form-control" id="contraseña" placeholder="Contraseña">
                </div>
                <div class="text-right">
                    <button type="submit" class="btn btn--round btn--red btn--icon">Ingresar <i class="fit-icon-angle-right"></i></button>
                </div>
            </form>
            <div class="singin__utilities">
                <a href="#">¿Olvidaste tu clave?</a>
                <a href="#">Registrate aquí</a>
            </div>
        </div>
        <!-- Store -->
        <div class="store">
            <button class="store__close">
                <span class="glyphicon glyphicon-remove"></span>
            </button>
            <div class="store__title">
                <h2>Seleccione tu tienda de despacho o retiro</h2>
                <p>Los precios pueden variar, previo pago, de acuerdo a tu región de despacho o tienda de retiro.</p>
            </div>
            <div class="store__select">
                <div class="media">
                    <div class="media-left media-middle">
                        <i class="fit-icon-location"></i>
                    </div>
                    <div class="media-body media-middle">
                        <h3>Tienda Vespucio</h3>
                        <p>Av. Américo Vespucio 1030, Peñalolen - Santiago</p>
                    </div>
                </div>
                <button class="btn btn--round btn--red">Ver mapa</button>
            </div>
            <div class="store__select store__select--less">
                <h3>Buscar otras tiendas:</h3>
                <div class="form-group">
                    <label for="" id="">Selecciona tu región:</label>
                    <div class="custom-select">
                        <select>
                            <option>Selecciona</option>
                            <option>Metropolitana</option>
                            <option>Valparaiso</option>
                            <option>Araucania</option>
                            <option>Arica y Parinacota</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="store__show">
                <h4>Seleccionar tienda</h4>
                <div class="store__show-row">
                    <div class="store__show-site">
                        <h6>Tienda Ferretería - Sta Rosa</h6>
                        <p>Santa Rosa 7876, La Granja Santiago</p>
                    </div>
                    <button class="btn btn--round btn--red">Ver mapa</button>
                </div>
                <div class="store__show-row">
                    <div class="store__show-site">
                        <h6>Tienda Huechuraba</h6>
                        <p>Av. Américo Vespucio 1399, Huechuraba - Santiago</p>
                    </div>
                    <button class="btn btn--round btn--red">Ver mapa</button>
                </div>
                <div class="store__show-row">
                    <div class="store__show-site">
                        <h6>Tienda Maipu</h6>
                        <p>Alberto Llona 1153, Maipú - Santiago</p>
                    </div>
                    <button class="btn btn--round btn--red">Ver mapa</button>
                </div>
            </div>
        </div>
    </header>

    <main>
        <div class="navigation">
            <ol class="breadcrumb">
                <li><a href="#">Inicio</a></li>
                <li class="active">Carro de compras</li>
            </ol>
        </div>

        <div class="container">
            <div class="storage">
                <div class="storage__main">
                    <div class="shopping">
                        <div class="shopping__progress">
                            <ol class="progress-step">
                                <li class="progress-step is-complete"><span>Carro de compras</span></li>
                                <li class="progress-step is-complete"><span>Despacho/Retiro</span></li>
                                <li class="progress-step is-complete"><span>Pago</span></li>
                                <li class="progress-step is-active"><span>Confirmación</span></li>
                            </ol>
                        </div>
                        <div class="shopping__confirm">
                            <div class="shopping__title">
                                <img src="../assets/img/iconos/icon-check--cyan.png" alt="">
                                <h2>Nombre, tu compra se ha realizado con éxito</h2>
                                <h5>Gracias por preferir Imperial</h5>
                            </div>
                            <div class="shopping__confirm-message">
                                <p>Hemos recibido el pago de tu pedido</p>
                                <h4>Nº 34324343355</h4>
                                <p>Te informaremos a tu correo electrónico <span>correo@gmail.com</span> cuando tu compra esté confirmada y lista para ser retirada.</p>
                            </div>
                            <div class="shopping__confirm-resume">
                                <h4>Resumen de tu compra</h4>
                                <div class="shopping__confirm-table">
                                    <div class="shopping__confirm-table-item">
                                        <label>Nombre</label>
                                        <p>Nombre</p>
                                    </div>
                                    <div class="shopping__confirm-table-item">
                                        <label>Nº de Pedido</label>
                                        <p>76767867867</p>
                                    </div>
                                    <div class="shopping__confirm-table-item">
                                        <label>Total Pedido</label>
                                        <p>$43.000</p>
                                    </div>
                                    <div class="shopping__confirm-table-item">
                                        <label>Tienda de Retiro</label>
                                        <p>Tienda Huechuraba</p>
                                    </div>
                                </div>
                            </div>
                            <p>No olvides que desde ahora en Imperial una vez recibido el correo de confirmación puedes revisar el estado de tus pedidos en línea directamente desde tu perfil.</p>
                            <a href="#" class="btn btn--round btn--icon btn--red">Regresar a Imperial <i class="fit-icon-angle-right"></i></a>
                            <div class="alert alert-info" role="alert">
                                <strong>Recuerda:</strong> Disponible el despacho a domicilio únicamente en la Región Metropolitana de Santiago.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="footer">
        <div class="container">
            <button class="footer__up"><i class="fit-icon-angle-up"></i></button>
            <div class="footer__wrapper">
                <div class="footer__item">
                    <div class="footer__item-inner footer__item-inner--not-border">
                        <img class="footer__imperial" src="../assets/img/logos/logo-imperial.svg" alt="IMPERIAL">
                    </div>
                    <div class="footer__item-inner visible-xs">
                        <div class="row">
                            <div class="col-xs-6">
                                <h4>Venta Telefónica</h4>
                                <a href="#" class="footer__phone">(562) 2399 7000</a>
                            </div>
                            <div class="col-xs-6">
                                <h4>Call Center</h4>
                                <a href="#" class="footer__phone">(562) 2399 7000</a>
                            </div>
                        </div>
                    </div>
                    <div class="footer__item-inner">
                        <label for="email">Suscríbete y entérate de las últimas novedades</label>
                        <div class="input-group">
                            <input type="email" class="form-control" id="email" placeholder="Ingresa tu e-mail">
                            <span class="input-group-btn">
                                <button class="input-group-within" type="button">
                                    <i class="fit-icon-mail-alt"></i>
                                </button>
                            </span>
                        </div>
                    </div>
                    <div class="footer__item-inner">
                        <span>Medios de pago</span>
                        <img class="footer__webpay" src="../assets/img/logos/logo-webpay.jpg" alt="Webpay">
                    </div>
                </div>
                <div class="footer__item hidden-xs hidden-sm">
                    <h4>Corporativo</h4>
                    <ul class="footer__list">
                        <li><a href="#">Quiénes Somos</a></li>
                        <li><a href="#">Políticas de Libre Competencia</a></li>
                        <li><a href="#">Manual Libre Competencia</a></li>
                        <li><a href="#">Transparencia Comercial</a></li>
                        <li><a href="#">Canal de Integridad</a></li>
                        <li><a href="#">Código de Integridad</a></li>
                        <li><a href="#">Portal de Crédito Imperial</a></li>
                        <li><a href="#">Solicitud datos proveedores</a></li>
                        <li><a href="#">Danos tu opinión y gana</a></li>
                    </ul>
                </div>
                <div class="footer__item hidden-xs hidden-sm">
                    <h4>Informaciones</h4>
                    <ul class="footer__list">
                        <li><a href="#">Boleta electrónica</a></li>
                        <li><a href="#">Portal B2B</a></li>
                        <li><a href="#">Trabaja en Imperial</a></li>
                        <li><a href="#">Nuestras Tiendas</a></li>
                        <li><a href="#">Servicios</a></li>
                        <li><a href="#">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="footer__item hidden-xs hidden-sm">
                    <h4>Políticas</h4>
                    <ul class="footer__list">
                        <li><a href="#">Términos y Condiciones</a></li>
                        <li><a href="#">Políticas de Cambio y Devoluciones</a></li>
                        <li><a href="#">Condiciones de Retiro y Despacho de productos</a></li>
                        <li><a href="#">Políticas de Privacidad</a></li>
                        <li><a href="#">Medios de pago</a></li>
                    </ul>
                </div>
                <div class="footer__item">
                    <div class="footer__item-inner footer__item-inner--phone hidden-xs">
                        <h4>Venta Telefónica</h4>
                        <a href="#" class="footer__phone">(562) 2399 7000</a>
                        <h4>Call Center</h4>
                        <a href="#" class="footer__phone">(562) 2399 7000</a>
                    </div>
                    <div class="footer__item-inner">
                        <ul class="footer__rrss">
                            <li>Síguenos en</li>
                            <li><a href="#"><i class="fit-icon-facebook"></i></a></li>
                            <li><a href="#"><i class="fit-icon-instagram"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <div class="bg-overlay"></div>
    <!-- JS -->
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lightslider/1.1.6/js/lightslider.min.js"></script>
    <script src="../assets/js/jquery.popupoverlay.js"></script>
    <script src="../assets/js/app.js"></script>
</body>

</html>
